/AMTest.class
/BagTest.class
/CollectionTest$MeasEq.class
/CollectionTest.class
/LBTest.class
/LLTest.class
/LQTest.class
/LSetTest.class
/ListTest.class
/MLTest.class
/MSTest.class
/MapRemoveTest.class
/MapStressTest.class
/MapTest.class
/QueueTest.class
/SetTest.class
/StackTest.class
